{% extends 'core/base.html' %}
{% load static %}
{% block title %}Profesorado{% endblock %}

{% block content %}
		<section class="page-section about-heading">
			<div class="container">
				<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
				<div class="about-heading-content">
					<div class="row">
						<div class="col-xl-9 col-lg-10 mx-auto">
							<div class="bg-faded rounded p-5">
								<h2 class="section-heading mb-4">
									<span class="section-heading-upper">Profesionales con experiencia y especialización académica.</span>
									<span class="section-heading-lower">Nuestro Equipo Docente</span>
								</h2>
								<p>
									En la Academia Máximo Exponente, contamos con un equipo docente altamente cualificado y con amplia experiencia en sus respectivas áreas. Nuestros profesores están especializados en diversas disciplinas, ofreciendo una formación personalizada y de calidad.
								</p>
								<p>Cada uno de ellos combina su sólida formación académica con años de experiencia profesional, garantizando una enseñanza eficaz y adaptada a las necesidades de nuestros estudiantes.</p>
							</div>
						</div>
					</div>
				</div>
					<table style="width: 100%; border-spacing: 20px 20px; border-collapse: separate;"> <!-- Añadimos border-spacing para separación -->
						<tr>
							<!-- Primer bloque -->
							<td class = 'table-about'>
								<div class="bg-faded rounded p-5" style="height: 100%;">
									<h2 class="section-heading mb-4">
										<span class="section-heading-upper">Ingeniero y Especialista en Ciencias de la Salud y Estructuras.</span>
										<span class="section-heading-lower">Jose Manuel Pozo</span>
									</h2>
									<p>Ingeniero y docente con más de 10 años de experiencia en la Academia Máximo Exponente, especializado en asignaturas de Ciencias de la Salud y Estructuras en ingeniería.</p>
								</div>
							</td>
							<!-- Segundo bloque -->
							<td class = 'table-about'>
								<div class="bg-faded rounded p-5" style="height: 100%;">
									<h2 class="section-heading mb-4">
										<span class="section-heading-upper">Licenciado en Farmacia y Especialista en Química Farmacéutica.</span>
										<span class="section-heading-lower">Amin Al-Nabhany</span>
									</h2>
									<p>Con 35 años de experiencia docente en universidades como UAX, UCM y CEU, experto en Química Farmacéutica y Heterocíclica, además de haber preparado opositores para el FIR en el centro CTO.</p>
								</div>
							</td>
						</tr>
						<tr>
							<!-- Tercer bloque -->
							<td class = 'table-about'>
								<div class="bg-faded rounded p-5" style="height: 100%;">
									<h2 class="section-heading mb-4">
										<span class="section-heading-upper">Doctor en Bioquímica y Especialista en Biomedicina.</span>
										<span class="section-heading-lower">David Moreno Lastres</span>
									</h2>
									<p>Con un doctorado en Bioquímica y Biotecnología, tiene más de 20 años de experiencia docente en Bioquímica, Biología Molecular y Fisiología, impartiendo clases en la UAX y otras instituciones.</p>
								</div>
							</td>
							<!-- Cuarto bloque -->
							<td class = 'table-about'>
								<div class="bg-faded rounded p-5" style="height: 100%;">
									<h2 class="section-heading mb-4">
										<span class="section-heading-upper">Especialista en Fisioterapia y Actividad Física.</span>
										<span class="section-heading-lower">Javier López Marcos</span>
									</h2>
									<p>Con más de 5 años de experiencia en formación de postgrado en universidades como la UCM y la Universidad de Zaragoza, especializado en Fisioterapia, Biomecánica y Aparato Locomotor en la UAX.</p>
								</div>
							</td>
						</tr>
					</table>
			</div>
		</section>
{% endblock %}
