{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{category}}{% endblock %}
{% block content %}
{% for post in category.get_posts.all %}
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-innerv text-center rounded">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-upper">{{post.published}}</span>
                            <span class="section-heading-lower">{{post.title}}</span>
                        </h2>
                        <p class="mb-0">
                            {% if post.image %}
                            <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{post.image.url}}" alt=""  style="width: 700px;height: 300px; object-fit: cover;">
                            {% endif %}
                        </p>
                        <p class="mb-0 mbt" style="text-align: left;">{{post.content|safe}}</p>
                        {% for category in post.categories.all %}
                        <p class="mb-0 mbt">
                            <span class="section-heading-under">
                                Publicado por <em><b class="texto-usuario">{{post.author}}</b></em> en
                                {% for category in post.categories.all %}
                                    <a href="{% url 'category' category.id %}" class="link" style="color: #1B305B;" onmouseover="this.style.color='black'" onmouseout="this.style.color='#1B305B'">{{category.name}}</a>
                                {% endfor %}
                            </span>
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Reemplazar los _ del usuario por espacios-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const textoElements = document.querySelectorAll(".texto-usuario");
            textoElements.forEach(function(element) {
                element.textContent = element.textContent.replace(/_/g, ' ');
                });
            });
    </script>
{% endfor %}
{% endblock %}
